:root{
    --deep-pink: #a03657;
    --med-pink: #ce4671;
    --bg: #eef0bf ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    font-size: 1.2em;
    background-color: var(--bg);
    /* position: relative; */
}

.card{
    width: 100%;
    max-width: 400px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -300px;
    color: black;
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-one{
    background-color: #a03657;
    height: 100%;
    border-radius: 35px;
    z-index: -1;
}
.bg-two{
    background-color: #bd3c62;
    height: 80%;
    border-radius: 35px;
    z-index: 1;
    position: relative;
    top: -100%;
}
.bg-three{
    background-color: #ce4671;
    height: 50%;
    border-radius: 35px;
    position: relative;
    top: -180%;
    z-index: 9;
}
.top, .background{
    width: 100%;
    height: 250px;
}

.image{
    width: 150px;
    height: 150px;
    margin: 25px auto;
    align-content: center;
}

img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 25px;
    z-index: 10;
    border-radius: 50%;
}

h2{
    text-align: center;
}
.name{
    margin: 30px;
}
.name .profile{
    font-size: 0.7em;
    font-weight: 100;
    opacity: 50%;
}

p{
    text-align: center;
}

.description p{
    font-size: 0.8em;
    margin: 25px;
}
.socials{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 30px auto;
}
.bottom{
    margin: 30px;
}
.buttons{
    margin: auto;
    width: fit-content;
}

button{
    font-size: 1em;
    width: 150px;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 5px 0;
}
button#follow{
    background-color: var(--med-pink);
    color: white;
    border: var(--med-pink);
}

button#message{
    background-color: white;
    color: #aaa;
    border: 1px solid #aaa;
}